body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: small;
}

.image {
  transform: scale(1);
  transition: all 600ms ease-in-out;
}
.image:hover {
  transform: scale(1.06);
}

.flex {
  display: flex;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
a:hover {
  color: #f7c759;
}
.h2Video {
  font-size: 15px;
}
.btn {
  color: white;
}
.btn:hover {
  color: #f7c759;
}

.headerContent {
  display: flex;
  justify-content: space-around;

  .headerContentLogo {
    display: flex;
    .videoLogo {
      width: 7rem;
    }
  }
  background-color: black;
  h1 {
    padding-top: 2rem;
  }
  nav {
    padding-top: 2rem;
    display: flex;
    gap: 4rem;
    font-size: 1.2rem;
  }
}

.video {
  position: relative;
  max-height: 70rem;
  min-height: 46rem;
  overflow: hidden;

  .overlayVideo {
    position: absolute;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  video {
    width: 100%;
    display: block;
  }
}

.container-video {
  margin-left: 1rem;
  font-family: "Bebas Neue", cursive;
  h2 {
    color: rgb(255, 255, 255);
    font-size: 4.5rem;
    margin: 0;
  }

  p {
    background-color: #f7c8598c;
    display: inline-block;
    padding: 0.5rem;
    color: white;
    font-weight: 700;
    font-size: 2.4rem;
    margin: 2rem 0;
  }
}

// image section
.imageContainer {
  position: relative;
  img {
    width: 100%;
    opacity: 0.7;
    padding-top: 2rem;
  }
  .overlay1 {
    font-family: "Bebas Neue", cursive;
    position: absolute;
    top: 44%;
    width: 100%;
    text-align: center;
    font-size: 3rem;
  }
}

// text and carousel section
.textAndCarousel {
  display: flex;
  margin: 0.5rem;

  .textSection {
    margin-right: 0.5rem;
    border-radius: 3%;
    width: 50%;

    h3 {
      font-family: "Bebas Neue", cursive;
    }
    .pTextSection {
      color: #ff6319;
      margin-bottom: 0;
    }
    .stevenPhoto {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    .circle {
      border-radius: 50%;
      width: 2rem;
    }
    p {
      color: #a0a0a0;
    }
    em {
      color: #b13d08;
    }
  }
}
.w-100 {
  width: 40rem !important;
  height: 27rem;
}

.funFact1 {
  display: flex;

  padding: 0.5rem;
  margin: 0.5rem;
  .image1 {
    width: 99%;
  }
  .funFactInfo1 {
    width: 100%;
    h5 {
      font-family: "Bebas Neue", cursive;
    }
    em {
      color: #b13d08;
    }
    p {
      font-size: 12.5px;
      color: #a0a0a0;
    }
  }
}

.food {
  padding: 0.5rem;
  margin: 0.5rem;
  gap: 0.5rem;
}
.size {
  width: 50%;
}

.funFactInfo2 {
  .firstSection {
    color: #ff6319;
  }
  width: 100%;
  h5 {
    font-family: "Bebas Neue", cursive;
  }
  em {
    color: #b13d08;
  }
  p {
    font-size: 12.5px;
    color: #a0a0a0;
  }
}

//gallery
#gallery {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: "Bebas Neue", cursive;
  color: white;
  background-color: black;
}

.galleryImages {
  padding-left: 0.6rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
}

//this is to increase the size of the picture when you use hover
.galleryImages > picture {
  cursor: pointer;
  transform: scale(1);
  transition: all 200ms ease-in-out;
}
//hover
.galleryImages > picture:hover {
  transform: scale(1.06);
}

.galleryPhotos {
  width: 230px;
  height: 230px;
  box-shadow: 16px 11px 12px black;
}

// MODAL
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center; // centra la imagen

  // obscurece el exterior de la imagen para resaltar la imagen
  background-color: rgba(0, 0, 0, 0.596);

  picture {
    display: block;
    max-width: 100rem;

    img {
      width: 35rem;
      height: auto;
    }
  }
}

.close-btn {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: white;
  color: black;
  display: grid;
  place-items: center;
  font-weight: 700;

  &:hover {
    cursor: pointer;
  }
}

.close-btn:hover {
  background-color: red;
  color: white;
}

//about
.about {
  text-align: center;
  border: solid black 3px;
  width: 50rem;
  margin: auto;
  //animation
  position: relative;
  animation-name: mymove;
  animation: mymove 5s;
  //animation instruction
  @keyframes mymove {
    from {
      bottom: 0px;
    }
    to {
      bottom: 50px;
    }
  }
  h2 {
    font-family: "Bebas Neue", cursive;
    color: white;
    background-color: #000000;
  }
}

.about > p {
  em {
    color: #b13d08;
  }
  color: #a0a0a0;
}

// HUNT APP

//searchBtn
.searchBtn {
  color: #198754;
  border: 1px solid #198754;
  border-radius: 5px;
  background-color: white;
}
.searchBtn:hover {
  color: white;
  background-color: #198754;
}

//ANIMAL BY NAME
//CARD

.sectionCard {
  background-image: url("./images/13.jpg");
  display: block;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.oneCard {
  width: 25rem;
  background-image: url("./images/hunter1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 45rem;

  background-color: #000000c0;
  color: white;
  text-align: center;
}

.animalsByName {
  margin-top: 4rem;
  text-align: center;
  position: block;

  h2 {
    font-family: "Bebas Neue", cursive;
    background-color: black;
    color: white;
    margin-bottom: 2rem;
    margin: 0.5rem;
  }
  .aBNP {
    display: none;
    transition: all 2000ms;
  }
  #search {
    margin-bottom: 2rem;
  }

  .card {
    &:hover p {
      display: block;
    }
  }
}

//ANIMALS BY PRICE
.priceAnimals {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  li {
    text-align: center;
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    width: 12rem;
    box-shadow: 11px 5px 10px black;
  }
  img {
    width: 11.9rem;
    height: 11rem;
  }
}

.lastInfo {
  margin: 3rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;

  div {
    border: 2px groove black;
    box-shadow: 5px 10px #494848;
    margin: 1rem;

    border-radius: 5px;

    ul {
      color: #a0a0a0;
    }
  }
}

footer {
  background-color: #000000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 0.5rem;

  video {
    width: 10rem;
  }
}

// cellphone size
@media (max-width: 480px) {
  .headerContent {
    display: flex;
    flex-direction: column;
  }
  .headerContent h1 {
    padding-top: 0rem;
  }
  .headerContentLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .headerContent nav {
    gap: 1rem;
    padding-top: 0;
  }
  .nav {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
  }

  .video {
    min-height: 13rem;
  }

  .overlayVideo {
    width: 100%;
    height: 100%;
  }

  .container-video {
    width: 16rem;
    height: 8rem;
    .h2Video {
      font-size: 2.5rem;
    }
    p {
      font-size: 1.2rem;
    }
  }

  .imageContainer {
    img {
      padding-top: 1rem;
    }
    .overlay1 {
      top: 35%;
      font-size: 2rem;
    }
  }

  .textAndCarousel {
    display: flex;
    flex-direction: column;
    width: 29rem;

    .textSection {
      width: 100%;
    }
  }

  .funFact1 {
    display: flex;
    flex-direction: column;
    width: 29.5rem;
  }
  #gallery {
    margin: 0.5rem;
  }
  .galleryImages {
    grid-template-columns: repeat(2, 1fr);
  }
  .galleryPhotos {
    width: 206px;
    height: 206px;
  }
  .size {
    width: 50%;
  }

  .overlay picture img {
    width: 22rem;
    height: auto;
  }
  .w-50 {
    width: 99% !important;
  }
  .w-100 {
    width: 29rem !important;
    height: 19rem;
  }

  .about {
    width: 90%;
  }

  .oneCard {
    width: 21rem;
    margin-left: 5rem;
  }
  .priceAnimals {
    padding: 0;
    gap: 0.3rem;
    margin-top: 0.5rem;
  }
  li {
    font-size: 16px;
    background-color: bisque;
    font-weight: 700;
  }

  .lastInfo {
    display: inherit;
  }

  .lastInfo div {
    margin: 1rem;
    margin-top: 2rem;

    h2 {
      font-size: 1.5rem;
    }
  }

  .lastInfo div ul {
    padding: 0;
    font-size: 1rem;
  }

  .footer {
    margin: 0.1rem;
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .footer video {
    width: 5rem;
  }
}

// tablet size

@media (max-width: 768px) {
  .headerContent nav {
    padding-top: 2rem;
    gap: 2rem;
    font-size: 0.9rem;
  }
  .video {
    min-height: 27rem;
  }
  .textAndCarousel {
    margin: 2.5rem;
    flex-direction: column;
    .textSection {
      width: 99%;
    }
  }
  .carousel {
    margin: auto;
  }
  .carousel-inner {
    width: 40rem;
  }
  .w-50 {
    width: 95% !important;
  }
  .funFact1 {
    flex-direction: column;
  }
  .galleryImages {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0;
  }
  .about {
    width: 40rem;
  }
  .oneCard {
    margin-left: 11rem;
  }

  ul {
    padding-left: 0;
  }
}
