body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: small;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #f7c759;
}

.h2Video {
  font-size: 15px;
}

.btn {
  color: white;
}

.btn:hover {
  color: #f7c759;
}

.headerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: black;
}

.headerContent .headerContentLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headerContent .headerContentLogo .videoLogo {
  width: 7rem;
}

.headerContent h1 {
  padding-top: 2rem;
}

.headerContent nav {
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
  font-size: 1.2rem;
}

.video {
  position: relative;
  max-height: 70rem;
  min-height: 46rem;
  overflow: hidden;
}

.video .overlay {
  position: absolute;
  height: 90%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video video {
  width: 100%;
  display: block;
}

.container-video {
  margin-left: 1rem;
  font-family: "Bebas Neue", cursive;
}

.container-video h2 {
  color: white;
  font-size: 4.5rem;
  margin: 0;
}

.container-video p {
  background-color: #f7c8598c;
  display: inline-block;
  padding: 0.5rem;
  color: white;
  font-weight: 700;
  font-size: 2.4rem;
  margin: 2rem 0;
}

.imageContainer {
  position: relative;
}

.imageContainer img {
  width: 100%;
  opacity: 0.7;
  padding-top: 2rem;
}

.imageContainer .overlay1 {
  font-family: "Bebas Neue", cursive;
  position: absolute;
  top: 44%;
  width: 100%;
  text-align: center;
  font-size: 3rem;
}

.textAndCarousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem;
}

.textAndCarousel .textSection {
  margin-right: 0.5rem;
  border-radius: 3%;
  width: 50%;
}

.textAndCarousel .textSection h3 {
  font-family: "Bebas Neue", cursive;
}

.textAndCarousel .textSection .pTextSection {
  color: #ff6319;
  margin-bottom: 0;
}

.textAndCarousel .textSection .stevenPhoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.textAndCarousel .textSection .circle {
  border-radius: 50%;
  width: 2rem;
}

.textAndCarousel .textSection p {
  color: #a0a0a0;
}

.textAndCarousel .textSection em {
  color: #b13d08;
}

.funFact1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem;
  margin: 0.5rem;
}

.funFact1 .image1 {
  width: 99%;
}

.funFact1 .funFactInfo1 {
  width: 100%;
}

.funFact1 .funFactInfo1 h5 {
  font-family: "Bebas Neue", cursive;
}

.funFact1 .funFactInfo1 em {
  color: #b13d08;
}

.funFact1 .funFactInfo1 p {
  font-size: 12.5px;
  color: #a0a0a0;
}

.animalsByName {
  position: block;
}

.animalsByName p {
  display: none;
}

.animalsByName:hover p {
  display: block;
}
/*# sourceMappingURL=styles.css.map */