body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: small;
}

.image {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
}

.image:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #f7c759;
}

.h2Video {
  font-size: 15px;
}

.btn {
  color: white;
}

.btn:hover {
  color: #f7c759;
}

.headerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: black;
}

.headerContent .headerContentLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headerContent .headerContentLogo .videoLogo {
  width: 7rem;
}

.headerContent h1 {
  padding-top: 2rem;
}

.headerContent nav {
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
  font-size: 1.2rem;
}

.video {
  position: relative;
  max-height: 70rem;
  min-height: 46rem;
  overflow: hidden;
}

.video .overlayVideo {
  position: absolute;
  height: 90%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video video {
  width: 100%;
  display: block;
}

.container-video {
  margin-left: 1rem;
  font-family: "Bebas Neue", cursive;
}

.container-video h2 {
  color: white;
  font-size: 4.5rem;
  margin: 0;
}

.container-video p {
  background-color: #f7c8598c;
  display: inline-block;
  padding: 0.5rem;
  color: white;
  font-weight: 700;
  font-size: 2.4rem;
  margin: 2rem 0;
}

.imageContainer {
  position: relative;
}

.imageContainer img {
  width: 100%;
  opacity: 0.7;
  padding-top: 2rem;
}

.imageContainer .overlay1 {
  font-family: "Bebas Neue", cursive;
  position: absolute;
  top: 44%;
  width: 100%;
  text-align: center;
  font-size: 3rem;
}

.textAndCarousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem;
}

.textAndCarousel .textSection {
  margin-right: 0.5rem;
  border-radius: 3%;
  width: 50%;
}

.textAndCarousel .textSection h3 {
  font-family: "Bebas Neue", cursive;
}

.textAndCarousel .textSection .pTextSection {
  color: #ff6319;
  margin-bottom: 0;
}

.textAndCarousel .textSection .stevenPhoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.textAndCarousel .textSection .circle {
  border-radius: 50%;
  width: 2rem;
}

.textAndCarousel .textSection p {
  color: #a0a0a0;
}

.textAndCarousel .textSection em {
  color: #b13d08;
}

.w-100 {
  width: 40rem !important;
  height: 27rem;
}

.funFact1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem;
  margin: 0.5rem;
}

.funFact1 .image1 {
  width: 99%;
}

.funFact1 .funFactInfo1 {
  width: 100%;
}

.funFact1 .funFactInfo1 h5 {
  font-family: "Bebas Neue", cursive;
}

.funFact1 .funFactInfo1 em {
  color: #b13d08;
}

.funFact1 .funFactInfo1 p {
  font-size: 12.5px;
  color: #a0a0a0;
}

.food {
  padding: 0.5rem;
  margin: 0.5rem;
  gap: 0.5rem;
}

.size {
  width: 50%;
}

.funFactInfo2 {
  width: 100%;
}

.funFactInfo2 .firstSection {
  color: #ff6319;
}

.funFactInfo2 h5 {
  font-family: "Bebas Neue", cursive;
}

.funFactInfo2 em {
  color: #b13d08;
}

.funFactInfo2 p {
  font-size: 12.5px;
  color: #a0a0a0;
}

#gallery {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: "Bebas Neue", cursive;
  color: white;
  background-color: black;
}

.galleryImages {
  padding-left: 0.6rem;
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

.galleryImages > picture {
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.galleryImages > picture:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

.galleryPhotos {
  width: 230px;
  height: 230px;
  -webkit-box-shadow: 16px 11px 12px black;
          box-shadow: 16px 11px 12px black;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.596);
}

.overlay picture {
  display: block;
  max-width: 100rem;
}

.overlay picture img {
  width: 35rem;
  height: auto;
}

.close-btn {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: white;
  color: black;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-weight: 700;
}

.close-btn:hover {
  cursor: pointer;
}

.close-btn:hover {
  background-color: red;
  color: white;
}

.about {
  text-align: center;
  border: solid black 3px;
  width: 50rem;
  margin: auto;
  position: relative;
  -webkit-animation-name: mymove;
          animation-name: mymove;
  -webkit-animation: mymove 5s;
          animation: mymove 5s;
}

@-webkit-keyframes mymove {
  from {
    bottom: 0px;
  }
  to {
    bottom: 50px;
  }
}

@keyframes mymove {
  from {
    bottom: 0px;
  }
  to {
    bottom: 50px;
  }
}

.about h2 {
  font-family: "Bebas Neue", cursive;
  color: white;
  background-color: #000000;
}

.about > p {
  color: #a0a0a0;
}

.about > p em {
  color: #b13d08;
}

.searchBtn {
  color: #198754;
  border: 1px solid #198754;
  border-radius: 5px;
  background-color: white;
}

.searchBtn:hover {
  color: white;
  background-color: #198754;
}

.sectionCard {
  background-image: url("./images/13.jpg");
  display: block;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.oneCard {
  width: 25rem;
  background-image: url("./images/hunter1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 45rem;
  background-color: #000000c0;
  color: white;
  text-align: center;
}

.animalsByName {
  margin-top: 4rem;
  text-align: center;
  position: block;
}

.animalsByName h2 {
  font-family: "Bebas Neue", cursive;
  background-color: black;
  color: white;
  margin-bottom: 2rem;
  margin: 0.5rem;
}

.animalsByName .aBNP {
  display: none;
  -webkit-transition: all 2000ms;
  transition: all 2000ms;
}

.animalsByName #search {
  margin-bottom: 2rem;
}

.animalsByName .card:hover p {
  display: block;
}

.priceAnimals {
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

.priceAnimals li {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: solid 1px black;
  width: 12rem;
  -webkit-box-shadow: 11px 5px 10px black;
          box-shadow: 11px 5px 10px black;
}

.priceAnimals img {
  width: 11.9rem;
  height: 11rem;
}

.lastInfo {
  margin: 3rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.lastInfo div {
  border: 2px groove black;
  -webkit-box-shadow: 5px 10px #494848;
          box-shadow: 5px 10px #494848;
  margin: 1rem;
  border-radius: 5px;
}

.lastInfo div ul {
  color: #a0a0a0;
}

footer {
  background-color: #000000;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  margin-bottom: 0.5rem;
}

footer video {
  width: 10rem;
}

@media (max-width: 480px) {
  .headerContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .headerContent h1 {
    padding-top: 0rem;
  }
  .headerContentLogo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
  .headerContent nav {
    gap: 1rem;
    padding-top: 0;
  }
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
  }
  .video {
    min-height: 13rem;
  }
  .overlayVideo {
    width: 100%;
    height: 100%;
  }
  .container-video {
    width: 16rem;
    height: 8rem;
  }
  .container-video .h2Video {
    font-size: 2.5rem;
  }
  .container-video p {
    font-size: 1.2rem;
  }
  .imageContainer img {
    padding-top: 1rem;
  }
  .imageContainer .overlay1 {
    top: 35%;
    font-size: 2rem;
  }
  .textAndCarousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 29rem;
  }
  .textAndCarousel .textSection {
    width: 100%;
  }
  .funFact1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 29.5rem;
  }
  #gallery {
    margin: 0.5rem;
  }
  .galleryImages {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .galleryPhotos {
    width: 206px;
    height: 206px;
  }
  .size {
    width: 50%;
  }
  .overlay picture img {
    width: 22rem;
    height: auto;
  }
  .w-50 {
    width: 99% !important;
  }
  .w-100 {
    width: 29rem !important;
    height: 19rem;
  }
  .about {
    width: 90%;
  }
  .oneCard {
    width: 21rem;
    margin-left: 5rem;
  }
  .priceAnimals {
    padding: 0;
    gap: 0.3rem;
    margin-top: 0.5rem;
  }
  li {
    font-size: 16px;
    background-color: bisque;
    font-weight: 700;
  }
  .lastInfo {
    display: inherit;
  }
  .lastInfo div {
    margin: 1rem;
    margin-top: 2rem;
  }
  .lastInfo div h2 {
    font-size: 1.5rem;
  }
  .lastInfo div ul {
    padding: 0;
    font-size: 1rem;
  }
  .footer {
    margin: 0.1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
  .footer video {
    width: 5rem;
  }
}

@media (max-width: 768px) {
  .headerContent nav {
    padding-top: 2rem;
    gap: 2rem;
    font-size: 0.9rem;
  }
  .video {
    min-height: 27rem;
  }
}
/*# sourceMappingURL=styles.css.map */